<a href="https://colab.research.google.com/github/JCNdongo/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.utils import np_utils

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
appli_counts = application_df['APPLICATION_TYPE'].value_counts()
appli_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appli_counts[appli_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_abv1 = class_counts.loc[class_counts > 1]
class_counts_abv1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3= 6

nn_2 = tf.keras.models.Sequential()

# First hidden layer
nn_2.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_2.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn_2.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn_2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_2.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                440

 dense_1 (Dense)             (None, 8)                 88

 dense_2 (Dense)             (None, 6)                 54

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 589
Trainable params: 589
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn_2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
fit_model2 = nn_2.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 3s 2ms/step - loss: 0.6257 - accuracy: 0.6905
Epoch 2/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5747 - accuracy: 0.7269
Epoch 3/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5665 - accuracy: 0.7299
Epoch 4/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5617 - accuracy: 0.7291
Epoch 5/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7301
Epoch 6/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7303
Epoch 7/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7311
Epoch 8/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7314
Epoch 9/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7317
Epoch 10/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5547 - accuracy: 0.7325
Epoch 11/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7316
Epoch 12/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7316
Epoch 13/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7320
Epoch 14/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7325
Epoch 15/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7334
Epoch 16/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7330
Epoch 17/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7335
Epoch 18/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7329
Epoch 19/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7334
Epoch 20/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7324
Epoch 21/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7333
Epoch 22/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7336
Epoch 23/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7324
Epoch 24/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7336
Epoch 25/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7329
Epoch 26/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7342
Epoch 27/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7330
Epoch 28/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7341
Epoch 29/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7337
Epoch 30/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7340

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5518 - accuracy: 0.7279 - 486ms/epoch - 2ms/step
Loss: 0.5517821311950684, Accuracy: 0.7279300093650818

In [18]:
# Export our model to HDF5 file
model_export = 'C:/Users/mjndo/MIA_DATA_VIZ/deep-learning-challenge/AlphabetSoupCharity_Optimization2.h5'

# Save the model to a HDF5 file
nn_2.save(model_export)